<div class="login-page" [@routerTransition]>
        <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="timer">
       <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner>
      <app-alerts></app-alerts>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Artefak Men</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="{{ 'Email' | translate }}" #email>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Password' | translate }}" #password>
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="onLoggedin(email.value, password.value)">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
                <br><br><br>
                <a class="btn rounded-btn" (click)="googlelogin()">{{ 'Sign In with Google' | translate }}</a>
                <!-- <i class="bi bi-google"></i> -->
            </form>
        </div>
    </div>
</div>

