<div class="login-page" [@routerTransition]>
    <ngx-spinner
        bdColor="rgba(51,51,51,0.8)"
        size="medium"
        color="#fff"
        type="timer">
       <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1 >Artefak Men</h1>
            <form role="form" #formSignup="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg " id="nama" name="nama" placeholder="{{ 'Full Name' | translate }}" [(ngModel)]="nama">
                    </div>

                    <div class="form-group" >
                        <input type="text" class="form-control input-underline input-lg" id="email" name="email" placeholder="{{ 'Email' | translate }}" [(ngModel)]="email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="password" name="password" placeholder="{{ 'Password' | translate }}" [(ngModel)]="password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="password2" name="password2" placeholder="{{ 'Repeat Password' | translate }}" [(ngModel)]="password2">
                    </div>
                </div>
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']">{{ 'Register' | translate }}</a>&nbsp; -->
                <!-- <a class="btn rounded-btn" (click)="daftar(nama.value, email.value, password.value, password2.value)">{{ 'Register' | translate }}</a>&nbsp; -->
                <a class="btn rounded-btn" (click)="daftar()">{{ 'Register' | translate }}</a>&nbsp;
                <a class="btn rounded-btn" (click)="login()">{{ 'Log in' | translate }}</a>
            </form>
        </div>
    </div>
</div>
<div>
    {{signup | json}}
</div>
